@model OnlineStore.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<div id="itemConteiner">
    @foreach (var p in Model.Products)
    {
        Html.RenderPartial("ProductSummary", p);
    }
</div>

<div class="pager">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index",
    new { page = x, category = Model.CurrentCategory }))
</div>
